*{
  margin: 5px;
  background-color: bisque;
}

a{
  cursor: pointer;

}

.header-main{
width: 100%;
height: 60px;
display: flex;
justify-content: space-between;
}

.header-main-logo{
width: fit-content;
height: 100%;
display: flex; 

}

.header-main-logo img{
  height: 40px;
  align-self: center;
  padding-left: 30px;
}

h1{
margin-left: 13px;
margin-top: 13px;

}

.header-main-nav{
  height: 100%;
  width: fit-content;
}

.header-main-nav ul{
  list-style: none;
  margin-left: 40px;

}

.header-main-nav ul li{
  display: inline;
  float: left;
}

.header-main-nav ul li a{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  color: black;
}

.header-main-nav ul li a:hover{
 color: darkgoldenrod;
}

.header-main-sm{
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header-main-sm-fb{
  width: 30px;
  height: 30px;
  background-image:url(img/fb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-in{
  width: 30px;
  height: 30px;
  background-image: url(img/in.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.new{
  position: absolute;
  margin-top: 70px;
  font-size: larger;
}

.box1{
background-image:url(	https://media.mwstatic.com/images/ui/buy-guns-online-hero.jpg);
position: center;
width: 1420px;
height: 368px;
left: 1px;
top: 2400px; 
margin-top: 50px;
margin-left: 30px;
margin-right: 30px;
}

.moreaboutus{
color: black;
margin-top:-100px ;
margin-left:  650px; 
font-size:25px ;
display:block ;
height: 36px ;
line-height: 36px;
padding: 0 20px;
width: 100%;   
}

.moreaboutus :hover{
  background-color:var(--site-color-01-hover)
}


h4{
  width: 800px;
  height: 132px;
  
  font-family: 'DM Serif Display';
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
  line-height: 125%;
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #292F36;
  
  flex: none;
  order: 0;
  flex-grow: 0;;
  
  
  display: flex;
  align-items: center;
  
  color: #ffffff;
  
  margin-left: 400px;
  margin-top: -250px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.bestseller{ 
  margin-left: 600px;
  margin-top: 240px;
  font-size: 50px;
}

.i{
  position: relative;
width: 550x;
height:300px;
left: 86px;
top: 20px;

background: url(img/i.jpg);
}

.m{
  position: relative;
width: 550px;
height: 300px;
left: 786px;
top: -330px;

background: url(img/m.jpg);
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.a{
  position: relative;
width: 530px;
height: 300px;
left: 86px;
top: 0px;

background: url(img/a.jpg);
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.g{
  position: relative;
width: 550px;
height: 300px;
left: 780px;
top: -340px;

background: url(img/g.jpg);
}

.gun1{
  margin-top: 10px;
  margin-left: 100px;
  font-size: 20px;
  
}
 
.gun2{
  margin-top: -340px;
  margin-left: 790px;
  font-size: 20px;
}

.gun3{
  margin-top: -300;
  margin-left: 100px;
  font-size: 20px;
  
}

.gun4{
  margin-top:-340px ;
  margin-left: 790px;
  font-size: 20px;
}
